accelerate
diffusers
matplotlib
numpy
opencv_python
pillow
PyYAML
scipy
setuptools
scikit-image
tqdm
transformers
fvcore==0.1.5.post20221221
cloudpickle
omegaconf==2.3.0
pycocotools==2.0.8
av
gradio
peft
huggingface_hub
fastapi
pydantic
uvicorn